.about {
  color: gray;
  gap: 4rem;
  padding: 5rem;
}

.featureButtons {
  margin: 1rem auto;
  width: max-content;
}

.h1 {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  margin: 1rem auto;
  text-align: center;
}

.h1:hover {
  color: black;
  transition: all 0.1s ease;
}

.languages {
  color: gray;
  display: flex;
  gap: 0.5rem;
}

.navBar {
  display: flex;
  justify-content: right;
  gap: 1rem;
  padding: 1rem 1rem;
}

.navLink {
  color: black;
  text-decoration: none;
}

.navLink:hover {
  color: blue;
}

.offer {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  width: max-content;
}

#search {
  border: none;
  padding: 0.5rem;
}

#search:focus {
  outline: none;
}

.searchContainer {
  align-items: center;
  border: 1px solid black;
  border-radius: 5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  width: max-content;
}

.settingsContainer1 {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 auto;
  width: max-content;
}
