:root {
  --font1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font2: Arial, sans-serif;
  --bgcolor: #202124;
  --textcolor: white;
  --size1: 90px;
  --size2: 12px;
  --size3: 14px;
  --weight: ;
  --transform: uppercase;
  --transform: lowercase;
  --display: flex;
  --display2: inline-block;
  --align: center;
  --boxsize: border-box;
  --height: 48px;
  --padding: 15px;
}
body {
  background-color: var(--bgcolor);
}
body,
input,
button {
  font-size: var(--size3);
  font-family: var(--font2);
}
.top-container {
  display: var(--display);
  background-color: var(--bgcolor);
  align-items: var(--align);
  padding: 6px;
  height: 60px;
  flex-shrink: 0;
  box-sizing: border-box;
}
.top-container > div {
  background-color: var(--bgcolor);
  margin: 5px;
  padding: 2px;
  font-size: var(--size2);
  width: 35px;
  font-family: var(--font2);
}
.top-cb {
  background-color: rgba(32 33 36 1);
  display: var(--display2);
  flex-grow: 1;
  height: 48px;
  font: var(--size3) var(--font2);
}
.rht-box {
  float: right;
  box-sizing: var(--boxsize);
  padding: 0px 4px 0px 32px;
  height: var(--height);
  justify-content: flex-end;
  display: flex;
}
.menu1 {
  padding-right: var(--padding);
  font-family: var(--font2);
}
.gml-box {
  display: var(--display2);
  padding-left: var(--padding);
}
.gml {
  color: var(--textcolor);
  display: var(--display2);
  line-height: 24px;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
}
.img-box {
  display: var(--display2);
  padding-left: 15px;
}
.img {
  color: var(--textcolor);
  display: var(--display2);
  line-height: 24px;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
}
.menu2 {
  float: right;
  position: relative;
  justify-content: flex-end;
}
.gglapps-box {
  display: inline;
  line-height: normal;
}
.gglapps-spc1 {
  padding: 4px;
  display: var(--display2);
  vertical-align: middle;
  line-height: normal;
}
.gglapps-spc2 {
  position: relative;
  line-height: normal;
}
.gglapps {
  cursor: pointer;
  text-decoration: none;
  background-position: -64px -29px;
  opacity: 1;
  color: var(--textcolor);
  display: var(--display2);
  outline: none;
  vertical-align: none;
  box-sizing: var(--boxsize);
  height: 40px;
  width: 40px;
}
.eml-box {
  padding: 4px;
  display: var(--display2);
  vertical-align: middle;
}
.eml-spc {
  position: relative;
}
.eml {
  text-decoration: none;
  cursor: pointer;
  padding: 4px;
  color: var(--textcolor);
}
.scnd-con {
  display: var(--display);
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  flex-shrink: 0;
  box-sizing: var(--boxsize);
}
.ggl-nm {
  height: 100%;
  margin-top: 15px;
  font-size: var(--size1);
  position: relative;
}
div {
  color: var(--textcolor);
  display: block;
}
