:root {
  --font1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font2: Arial, sans-serif;
  --bgcolor: #202124;
  --textcolor: white;
  --size1: 90px;
  --size2: 12px;
  --size3: 14px;
  --weight: ;
  --transform: uppercase;
  --transform: lowercase;
  --display: flex;
}
body {
  background-color: var(--bgcolor);
}
body,
input,
button {
  font-size: var(--size3);
  font-family: var(--font2);
}
.top-container {
  display: var(--display);
  background-color: var(--bgcolor);
  align-items: flex-start;
  justify-content: flex-end;
}
.top-container > div {
  background-color: var(--bgcolor);
  margin: 5px;
  padding: 2px;
  font-size: var(--size2);
  width: 35px;
  font-family: var(--font2);
}
.mtc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mhgt {
  min-height: 92px;
}
.hgt {
  max-height: 290px;
  height: calc(100% - 560px);
}
.msm {
  flex-shrink: 0;
  box-sizing: border-box;
}
.mahgt {
  max-height: 92px;
  position: relative;
  font-size: var(--size1);
}
.msm2 {
  height: 100%;
  margin-top: auto;
}
.padd {
  padding: 20px;
}
.mahgt2 {
  max-height: 160px;
}
.flex {
  flex-shrink: 0;
  box-sizing: border-box;
}
.speech {
  background: var(--bgcolor);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: left;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10000;
  transition: visibility 0s linear 0.218s, background-color 0.218s;
}
.s2fp.spch {
  opacity: 1;
  transition-delay: 0s;
  visibility: visible;
}
.close-button {
  background: none;
  border: none;
  color: #9aa0a6;
  cursor: pointer;
  font-size: 26px;
  right: 0;
  line-height: 15px;
  opacity: 0.6;
  margin: -1px -1px 0 0;
  padding: 0 0 2px 0;
  height: 48px;
  position: absolute;
  top: 0;
  z-index: 10;
}
.close-button:hover {
  opacity: 0.8;
}
.close-button:active {
  opacity: 1;
}
.spchc {
  display: block;
  height: 42px;
  pointer-events: none;
  margin: auto;
  position: relative;
  top: 0;
  margin-top: 312px;
  max-width: 572px;
  min-width: 534px;
  padding: 0 223px;
}
.inner-container {
  height: 100%;
  opacity: 0.1;
  pointer-events: none;
  width: 100%;
  transition: opacity 0.318s ease-in;
}
.button-container {
  pointer-events: none;
  position: relative;
  transition: transform 0.218s, opacity 0.218s ease-in;
  transform: scale(0.1);
  height: 165px;
  width: 165px;
  right: -70px;
  top: -70px;
  float: right;
}
.ftrs {
  background-color: #dadce0;
  border-radius: 100%;
  display: inline-block;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: scale(0.01);
  transition: opacity 0.218s;
  height: 301px;
  left: -69px;
  top: -69px;
  width: 301px;
}
.ftrs2 {
  background-color: #fff;
  border: 1px solid #f8f9fa;
  border-radius: 100%;
  bottom: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  transition: background-color 0.218s, border 0.218s, box-shadow 0.218s;
  transition-delay: 0;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}
.microphone {
  height: 87px;
  pointer-events: none;
  position: absolute;
  width: 42px;
  top: 47px;
  transform: scale(1);
  left: 43px;
}
.receiver {
  background-color: #999;
  border-radius: 30px;
  height: 46px;
  left: 25px;
  pointer-events: none;
  position: absolute;
  width: 24px;
}
dialog {
  color: canvastext;
}
.text-container {
  pointer-events: none;
  position: absolute;
}
.spcht {
  font-weight: normal;
  line-height: 1.2;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  transition: opacity 0.1s ease-in, margin-left 0.5s ease-in,
    top 0s linear 0.218s;
  left: -44px;
  top: -0.2em;
  margin-left: 44px;
  font-size: 32px;
  width: 460px;
}
.s2fp .spcht {
  margin-left: 0;
  opacity: 1;
  transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
}
.spchta {
  color: #8ab4f8;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  pointer-events: auto;
  text-decoration: underline;
}
.spch-2l.spcht,
.spch-3l.spcht,
.spch-4l.spcht {
  transition: top 0.218s ease-out;
}
.spch-2l.spcht {
  top: -0.6em;
}
.spch-3l.spcht {
  top: -1.3em;
}
.spch-4l.spcht {
  top: -1.7em;
}
.s2fp .spch-5l.spcht {
  top: -2.5em;
}
form {
  display: block;
  margin: 0em;
}
.searchbox {
  display: flex;
  z-index: 3;
  min-height: 44px;
  background: #202124;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
  width: auto;
  max-width: 584px;
}
.insearchbox {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}
.flexsrchbox {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
  height: 46px;
}
.mrgn {
  margin-top: 3px;
  color: #9aa0a6;
}
.disp {
  display: inline-block;
  fill: currentColor;
  height: 20px;
  line-height: 20px;
  position: relative;
  width: 20px;
}
.srchspce {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 6px;
}
.txtbox {
  color: transparent;
  white-space: pre;
  position: absolute;
  pointer-events: none;
}
textarea.txtarea,
.txtbox {
  font-family: arial, sans-serif;
  line-height: 22px;
  margin-bottom: 8px;
  overflow-x: hidden;
}
.txtarea {
  resize: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: #e8eaed;
  word-wrap: break-word;
  outline: none;
  display: flex;
  -webkit-tap-highlight-color: transparent;
}
.micimg {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
  height: 44px;
}
.micbox {
  padding-right: 4px;
  background: transparent;
  align-items: center;
  flex: 1 0 auto;
  flex-direction: row;
  display: flex;
  cursor: pointer;
}
.micbxftr {
  height: 100%;
  color: #9aa0a6;
  vertical-align: middle;
  outline: none;
}
.micbxftr2 {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}
.micbxftr2 svg {
  display: block;
  height: 100%;
  width: 100%;
}
.micbox2 {
  background: transparent;
  border: 0;
  align-items: center;
  flex: 1 0 auto;
  cursor: pointer;
  display: none;
  height: 100%;
  line-height: 44px;
  outline: none;
  padding: 0 12px;
}
.micspc {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}
div {
  color: var(--textcolor);
  display: block;
}
